/* Stylesheet by Alex Larson, 2023 */
/*Add CSS styles here*/

#mydiv {
    color: orange;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: navy;
    width: 80%;
    margin: 0 auto;
    height: 100px;
}